<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ROLLapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".postac"
            android:exported="false" />
        <activity
            android:name=".bronPostaci"
            android:exported="false"
            android:label="Broń Postaci" />
        <activity
            android:name=".umGracjaPostaci"
            android:exported="false"
            android:label="Gracja Postaci" />
        <activity
            android:name=".umFachPostaci"
            android:exported="false"
            android:label="Fach Postaci" />
        <activity
            android:name=".umEmocjePostaci"
            android:exported="false"
            android:label="Emocje Postaci" />
        <activity
            android:name=".umReakcjaPostaci"
            android:exported="false"
            android:label="Reakcja Postaci" />
        <activity
            android:name=".umWolaPostaci"
            android:exported="false"
            android:label="Wola Postaci" />
        <activity
            android:name=".umRozumPostaci"
            android:exported="false"
            android:label="Rozum Postaci" />
        <activity
            android:name=".umCialoPostaci"
            android:exported="false"
            android:label="Ciało Postaci" />
        <activity
            android:name=".cechyPostaci"
            android:exported="false"
            android:label="CechyPostaci" />
        <activity
            android:name=".danePostaci"
            android:exported="false"
            android:label="Dane Postaci" />
        <activity
            android:name=".Liczba_losowa"
            android:exported="false"
            android:label="Rzuć Kością" />
        <activity
            android:name=".stronaglowna"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".zmianadanychuzyt"
            android:exported="false"
            android:parentActivityName=".stronaglowna"/>
        <activity
            android:name=".nologin"
            android:exported="false"
            android:label="Bez Logowania" />
        <activity
            android:name=".rejestracja"
            android:exported="false"
            android:label="Rejestracja"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:label="Dice&amp;Role">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>